:root {
  --color-dark: #323232;
}

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
  --main-color: var(--color-dark);
  --lighter-color: #f8f9fa;
  --main-color-components: 50, 50, 50;
  --background-color: #fff;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"],
[data-theme="light-dark-sidebar"] nav {
  --main-color: #fff;
  --lighter-color: #656565;
  --main-color-components: 255, 255, 255;
  --background-color: #272a2e;
}

body, .list-group-item {
  background-color: var(--background-color);
  color: var(--main-color);
}

[data-theme^="light"] .list-group-item:hover {
  background-color: darken(#fff, 5%);
  color: var(--main-color);
}

[data-theme^="dark"] .list-group-item:hover {
  background-color: darken(#272a2e, 5%);
  color: var(--main-color);
}

pre {
  color: var(--main-color);
}

.btn-light:hover {
  .tcon-remove::before,
  .tcon-remove::after {
    background-color: var(--color-dark);
  }
}

.tcon-remove::before,
.tcon-remove::after {
  background-color: var(--main-color);
}

.btn-light {
  background-color: var(--lighter-color);
  border-color: var(--lighter-color);
  color: var(--main-color);
}
