.footer-link {
  padding-top: 8px;
  padding-left: 10px;
  font-size: calc(var(--font-size) - 4px);
  float: left;
}

.footer-link a {
  color: var(--text-color);
  cursor: pointer;
  text-decoration: underline;
}
