body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-white {
  color: white !important;
}

.text-white .tcon-remove::before {
  background: white;
}

.text-white .tcon-remove::after {
  background: white;
}

.mr-1 {
  margin-right: .125rem;
}

.server-name {
  cursor: pointer;
  width: calc(100% - 4.5rem);
}

.server-name--running {
  width: calc(100% - 4.5rem);
}

.server-item {
  line-height: 1.5rem;
  height: 2.25rem;
  padding: 5px 15px;
}

.server-item .btn {
  padding: 0 5px;
}

.server-item .icon {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 22px;
  font-size: 16px;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline-block;
}

.tcon-remove {
  height: 24px;
  width: 24px;
}

.tcon-remove::before,
.tcon-remove::after {
  background: #737475;
}

.btn,
.btn .icon {
  cursor: pointer;
}

.server-item-enter {
  opacity: 0.01;
  transform: translate(2rem);
}

.server-item-enter.server-item-enter-active {
  opacity: 1;
  transform: translate(0);
  transition: all 350ms ease-in;
}

.server-item-exit {
  opacity: 1;
  transform: translate(0);
}

.server-item-exit.server-item-exit-active {
  opacity: 0.01;
  transform: translate(2rem);
  transition: all 350ms ease-in;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.icon-arrows-ccw.spin {
  animation: spin 1s ease-out;
}
